<style>
  body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
  body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
  }

  /* Create a Parallax Effect */
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* First image (Logo. Full height) */
  .bgimg-1 {
    background-image: url(https://gastroben.s3.amazonaws.com/bendev/codelounge.jpg);
    min-height: 100%;
  }

  /* Second image (Portfolio) */
  .bgimg-2 {
    background-image: url(https://gastroben.s3.amazonaws.com/Self/barberlake.jpg);
    min-height: 400px;
  }

  /* Third image (Contact) */
  .bgimg-3 {
    background-image: url(https://gastroben.s3.amazonaws.com/Self/abacoafilter.jpg);
    min-height: 400px;
  }

  .gastroDev-wide {letter-spacing: 10px;}
  .gastroDev-hover-opacity {cursor: pointer;}

  /* Turn off parallax scrolling for tablets and phones */
  @media only screen and (max-device-width: 1600px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
      background-attachment: scroll;
      min-height: 400px;
    }
  }
</style>


<!-- Navbar (sit on top) -->
<div class="gastroDev-top">
  <div class="gastroDev-bar" id="myNavbar">
    <a class="gastroDev-bar-item gastroDev-button gastroDev-hover-black gastroDev-hide-medium gastroDev-hide-large gastroDev-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
      <i class="fa fa-bars"></i>
    </a>
    <a href="#home" class="gastroDev-bar-item gastroDev-button">HOME</a>
    <a href="#about" class="gastroDev-bar-item gastroDev-button gastroDev-hide-small"><i class="fa fa-user"></i> ABOUT</a>
    <a href="#portfolio" class="gastroDev-bar-item gastroDev-button gastroDev-hide-small"><i class="fa fa-th"></i> PORTFOLIO</a>
    <a href="#contact" class="gastroDev-bar-item gastroDev-button gastroDev-hide-small"><i class="fa fa-envelope"></i> CONTACT</a>
    <a href="#" class="gastroDev-bar-item gastroDev-button gastroDev-hide-small gastroDev-right gastroDev-hover-red">
      <i class="fa fa-search"></i>
    </a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="gastroDev-bar-block gastroDev-white gastroDev-hide gastroDev-hide-large gastroDev-hide-medium">
    <a href="#about" class="gastroDev-bar-item gastroDev-button" onclick="toggleFunction()">ABOUT</a>
    <a href="#portfolio" class="gastroDev-bar-item gastroDev-button" onclick="toggleFunction()">PORTFOLIO</a>
    <a href="#contact" class="gastroDev-bar-item gastroDev-button" onclick="toggleFunction()">CONTACT</a>
    <a href="#" class="gastroDev-bar-item gastroDev-button">SEARCH</a>
  </div>
</div>

<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 gastroDev-display-container gastroDev-opacity-min" id="home">
  <div class="gastroDev-display-middle" style="white-space:nowrap;">
    <span class="gastroDev-center gastroDev-padding-large gastroDev-black gastroDev-xlarge gastroDev-wide gastroDev-animate-opacity">Portfolio <span class="gastroDev-hide-small">Ben</span> S.</span>
  </div>
</div>

<!-- Container (About Section) -->
<div class="gastroDev-content gastroDev-container gastroDev-padding-64" id="about">
  <h3 class="gastroDev-center">ABOUT ME</h3>
  <p class="gastroDev-center"><em>I love coding</em></p>
  <p>We have created a fictional "personal" website/blog, and our fictional character is a hobby coder. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
    qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  <div class="gastroDev-row">
    <div class="gastroDev-col m6 gastroDev-center gastroDev-padding-large">
      <p><b><i class="fa fa-user gastroDev-margin-right"></i>Ben Sommerville</b></p><br>
      <img src="https://gastroben.s3.amazonaws.com/Self/ferryport.jpg" class="gastroDev-round gastroDev-image gastroDev-opacity gastroDev-hover-opacity-off" alt="Photo of Me" width="500" height="333">
    </div>

    <!-- Hide this text on small devices -->
    <div class="gastroDev-col m6 gastroDev-hide-small gastroDev-padding-large">
      <p>Welcome to my website. I am lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>
  <p class="gastroDev-large gastroDev-center gastroDev-padding-16">Im really good at:</p>
  <p class="gastroDev-wide"><i class="devicon-rails-plain-wordmark colored"></i>Web Development</p>
  <div class="gastroDev-light-grey">
    <div class="gastroDev-container gastroDev-padding-small gastroDev-dark-grey gastroDev-center" style="width:90%">90%</div>
  </div>
  <p class="gastroDev-wide"><i class="devicon-ruby-plain colored"></i>Ruby</p>
  <div class="gastroDev-light-grey">
    <div class="gastroDev-container gastroDev-padding-small gastroDev-dark-grey gastroDev-center" style="width:85%">85%</div>
  </div>
  <p class="gastroDev-wide"><i class="fa fa-photo"></i>Photo Editing</p>
  <div class="gastroDev-light-grey">
    <div class="gastroDev-container gastroDev-padding-small gastroDev-dark-grey gastroDev-center" style="width:75%">75%</div>
  </div>
</div>

<div class="gastroDev-row gastroDev-center gastroDev-dark-grey gastroDev-padding-16">
  <div class="gastroDev-quarter gastroDev-section">
    <span class="gastroDev-xlarge">14+</span><br>
    Partners
  </div>
  <div class="gastroDev-quarter gastroDev-section">
    <span class="gastroDev-xlarge">55+</span><br>
    Projects Done
  </div>
  <div class="gastroDev-quarter gastroDev-section">
    <span class="gastroDev-xlarge">89+</span><br>
    Happy Clients
  </div>
  <div class="gastroDev-quarter gastroDev-section">
    <span class="gastroDev-xlarge">150+</span><br>
    Meetings
  </div>
</div>

<!-- Second Parallax Image with Portfolio Text -->
<div class="bgimg-2 gastroDev-display-container gastroDev-opacity-min">
  <div class="gastroDev-display-middle">
    <span class="gastroDev-xxlarge gastroDev-text-white gastroDev-wide">PORTFOLIO</span>
  </div>
</div>

<!-- Container (Portfolio Section) -->
<div class="gastroDev-content gastroDev-container gastroDev-padding-64" id="portfolio">
  <h3 class="gastroDev-center">MY WORK</h3>
  <p class="gastroDev-center"><em>Here are some of my latest lorem work ipsum tipsum.<br> Click on the images to make them bigger</em></p><br>

  <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
  <div class="gastroDev-row-padding gastroDev-center">
    <div class="gastroDev-col m3">
      <img src="https://gastroben.s3.amazonaws.com/Self/ams.jpg" style="width:100%" onclick="onClick(this)" class="gastroDev-hover-opacity" alt="The mist over the mountains">
    </div>

    <div class="gastroDev-col m3">
      <img src="https://gastroben.s3.amazonaws.com/Self/ams.jpg" style="width:100%" onclick="onClick(this)" class="gastroDev-hover-opacity" alt="Coffee beans">
    </div>

    <div class="gastroDev-col m3">
      <img src="https://gastroben.s3.amazonaws.com/Self/ams.jpg" style="width:100%" onclick="onClick(this)" class="gastroDev-hover-opacity" alt="Bear closeup">
    </div>

    <div class="gastroDev-col m3">
      <img src="https://gastroben.s3.amazonaws.com/Self/ams.jpg" style="width:100%" onclick="onClick(this)" class="gastroDev-hover-opacity" alt="Quiet ocean">
    </div>
  </div>

  <div class="gastroDev-row-padding gastroDev-center gastroDev-section">
    <div class="gastroDev-col m3">
      <img src="https://gastroben.s3.amazonaws.com/Self/ams.jpg" style="width:100%" onclick="onClick(this)" class="gastroDev-hover-opacity" alt="The mist">
    </div>

    <div class="gastroDev-col m3">
      <img src="https://gastroben.s3.amazonaws.com/Self/ams.jpg" style="width:100%" onclick="onClick(this)" class="gastroDev-hover-opacity" alt="My beloved typewriter">
    </div>

    <div class="gastroDev-col m3">
      <img src="https://gastroben.s3.amazonaws.com/Self/ams.jpg" style="width:100%" onclick="onClick(this)" class="gastroDev-hover-opacity" alt="Empty ghost train">
    </div>

    <div class="gastroDev-col m3">
      <img src="https://gastroben.s3.amazonaws.com/Self/ams.jpg" style="width:100%" onclick="onClick(this)" class="gastroDev-hover-opacity" alt="Sailing">
    </div>
    <button class="gastroDev-button gastroDev-padding-large gastroDev-light-grey" style="margin-top:64px">LOAD MORE</button>
  </div>
</div>

<!-- Modal for full size images on click-->
<div id="modal01" class="gastroDev-modal gastroDev-black" onclick="this.style.display='none'">
  <span class="gastroDev-button gastroDev-large gastroDev-black gastroDev-display-topright" title="Close Modal Image"><i class="fa fa-remove"></i></span>
  <div class="gastroDev-modal-content gastroDev-animate-zoom gastroDev-center gastroDev-transparent gastroDev-padding-64">
    <img id="img01" class="gastroDev-image">
    <p id="caption" class="gastroDev-opacity gastroDev-large"></p>
  </div>
</div>

<!-- Third Parallax Image with Portfolio Text -->
<div class="bgimg-3 gastroDev-display-container gastroDev-opacity-min">
  <div class="gastroDev-display-middle">
     <span class="gastroDev-xxlarge gastroDev-text-white gastroDev-wide">CONTACT</span>
  </div>
</div>

<!-- Container (Contact Section) -->
<div class="gastroDev-content gastroDev-container gastroDev-padding-64" id="contact">
  <h3 class="gastroDev-center">WHERE I WORK</h3>
  <p class="gastroDev-center"><em>I'd love your feedback!</em></p>

  <div class="gastroDev-row gastroDev-padding-32 gastroDev-section">
    <div class="gastroDev-col m4 gastroDev-container">
      <img src="https://www.w3schools.com/w3images/map.jpg" class="gastroDev-image gastroDev-round" style="width:100%">
    </div>
    <div class="gastroDev-col m8 gastroDev-panel">
      <div class="gastroDev-large gastroDev-margin-bottom">
        <i class="fa fa-map-marker fa-fw gastroDev-hover-text-black gastroDev-xlarge gastroDev-margin-right"></i> Florida, US<br>
        <i class="fa fa-phone fa-fw gastroDev-hover-text-black gastroDev-xlarge gastroDev-margin-right"></i> Phone: 786-860-2661<br>
        <i class="fa fa-envelope fa-fw gastroDev-hover-text-black gastroDev-xlarge gastroDev-margin-right"></i> Email: nextbendev@gmail.com<br>
      </div>
      <p>Swing by for a cup of <i class="fa fa-coffee"></i>, or leave me a note:</p>
      <form action="/action_page.php" target="_blank">
        <div class="gastroDev-row-padding" style="margin:0 -16px 8px -16px">
          <div class="gastroDev-half">
            <input class="gastroDev-input gastroDev-border" type="text" placeholder="Name" required name="Name">
          </div>
          <div class="gastroDev-half">
            <input class="gastroDev-input gastroDev-border" type="text" placeholder="Email" required name="Email">
          </div>
        </div>
        <input class="gastroDev-input gastroDev-border" type="text" placeholder="Message" required name="Message">
        <button class="gastroDev-button gastroDev-black gastroDev-right gastroDev-section" type="submit">
          <i class="fa fa-paper-plane"></i> SEND MESSAGE
        </button>
      </form>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="gastroDev-center gastroDev-black gastroDev-padding-64 gastroDev-opacity gastroDev-hover-opacity-off">
  <a href="#home" class="gastroDev-button gastroDev-light-grey"><i class="fa fa-arrow-up gastroDev-margin-right"></i>To the top</a>
  <div class="gastroDev-xlarge gastroDev-section">
    <i class="fa fa-facebook-official gastroDev-hover-opacity"></i>
    <i class="fa fa-instagram gastroDev-hover-opacity"></i>
    <i class="fa fa-snapchat gastroDev-hover-opacity"></i>
    <i class="fa fa-pinterest-p gastroDev-hover-opacity"></i>
    <i class="fa fa-twitter gastroDev-hover-opacity"></i>
    <i class="fa fa-linkedin gastroDev-hover-opacity"></i>
  </div>
  <p>Powered by <a href="#" title="gastroDev.CSS" target="_blank" class="gastroDev-hover-text-green">gastroDev.css</a></p>
</footer>

<script type="text/javascript">

  // Modal Image Gallery
  function onClick(element) {
    document.getElementById("img01").src = element.src;
    document.getElementById("modal01").style.display = "block";
    var captionText = document.getElementById("caption");
    captionText.innerHTML = element.alt;
  }

  // Change style of navbar on scroll
  window.onscroll = function() {myFunction()};
  function myFunction() {
      var navbar = document.getElementById("myNavbar");
      if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
          navbar.className = "gastroDev-bar" + " gastroDev-card" + " gastroDev-animate-top" + " gastroDev-white";
      } else {
          navbar.className = navbar.className.replace(" gastroDev-card gastroDev-animate-top gastroDev-white", "");
      }
  }

  // Used to toggle the menu on small screens when clicking on the menu button
  function toggleFunction() {
      var x = document.getElementById("navDemo");
      if (x.className.indexOf("gastroDev-show") == -1) {
          x.className += " gastroDev-show";
      } else {
          x.className = x.className.replace(" gastroDev-show", "");
      }
  }

</script>
