<%= render 'blox/navbar' %>
<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 gastroDev-display-container gastroDev-opacity-min" id="home">
  <div class="gastroDev-display-middle" style="white-space:nowrap;">
    <span class="gastroDev-center gastroDev-padding-large gastroDev-black gastroDev-xlarge gastroDev-wide gastroDev-animate-opacity">Portfolio <span class="gastroDev-hide-small">Ben</span> S.</span>
  </div>
</div>

<!-- Container (About Section) -->
<div class="gastroDev-content gastroDev-container gastroDev-padding-64" id="about">
  <h3 class="gastroDev-center">ABOUT ME</h3>
  <p class="gastroDev-center"><em>I love coding</em></p>
  <p>We have created a fictional "personal" website/blog, and our fictional character is a hobby coder. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
    qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  <div class="gastroDev-row">
    <div class="gastroDev-col m6 gastroDev-center gastroDev-padding-large">
      <p><b><i class="fa fa-user gastroDev-margin-right"></i>Ben Sommerville</b></p><br>
      <img src="https://gastroben.s3.amazonaws.com/Self/wpbfilter.jpg" class="gastroDev-round gastroDev-image gastroDev-opacity gastroDev-hover-opacity-off" alt="Photo of Me" width="500" height="333">
    </div>

    <!-- Hide this text on small devices -->
    <div class="gastroDev-col m6 gastroDev-hide-small gastroDev-padding-large">
      <p>Welcome to my website. I am lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>
  <p class="gastroDev-large gastroDev-center gastroDev-padding-16">Im really good at:</p>
  <p class="gastroDev-wide"><i class="devicon-rails-plain-wordmark colored"></i>Web Development</p>
  <div class="gastroDev-light-grey">
    <div class="gastroDev-container gastroDev-padding-small gastroDev-dark-grey gastroDev-center" style="width:90%">90%</div>
  </div>
  <p class="gastroDev-wide"><i class="devicon-ruby-plain colored"></i>Ruby</p>
  <div class="gastroDev-light-grey">
    <div class="gastroDev-container gastroDev-padding-small gastroDev-dark-grey gastroDev-center" style="width:85%">85%</div>
  </div>
  <p class="gastroDev-wide"><i class="fa fa-photo"></i>Photo Editing</p>
  <div class="gastroDev-light-grey">
    <div class="gastroDev-container gastroDev-padding-small gastroDev-dark-grey gastroDev-center" style="width:75%">75%</div>
  </div>
</div>

<div class="row services text-center">
          <div data-animate="fadeInUp" class="col-lg-3">
            <div class="icon">
              <i class="devicon-html5-plain colored" style='font-size:48px;'></i>
              <i class="devicon-css3-plain-wordmark" style='font-size:48px;'></i>
              <i class="devicon-ruby-plain colored"style='font-size:48px;'></i></i>
              <i class="devicon-javascript-plain" style='font-size:48px;'></i>
            </br>
              <i class="devicon-postgresql-plain-wordmark colored" style='font-size:48px;'></i>
              <i class="devicon-linux-plain" style='font-size:48px;'></i>
              <i class="devicon-git-plain" style='font-size:48px;'></i>
              <i class="devicon-heroku-original-wordmark colored" style='font-size:48px;'></i>
            </br>
              <i class="devicon-java-plain-wordmark" style='font-size:48px;'></i>
              <i class="devicon-slack-plain colored" style='font-size:48px;'></i>
              <i class="devicon-python-plain-wordmark colored" style='font-size:48px;'></i>
              <i class="devicon-django-line-wordmark" style='font-size:48px;'></i>
            </div>
            <h3 class="heading mb-3 text-400">Full Stack Dev</h3>
            <p class="text-center description">Listed in order of experience</p>
          </div>

          <div data-animate="fadeInUp" class="col-lg-3">
            <div class="icon"><i class="fa fa-coffee"></i></div>
            <h3 class="heading mb-3 text-400">Hospitality</h3>
            <p class="text-center description">10+ Years of service industry experience.</p>
          </div>

          <div data-animate="fadeInUp" class="col-lg-3">
            <div class="icon">
              <i class="fas fa-tools" style='font-size:48px;'></i>
            </div>
            <h3 class="heading mb-3 text-400">Mech and Tech</h3>
            <p class="text-center description">Automotive repair, A/V setup, computer repair</p>
          </div>

          <div data-animate="fadeInUp" class="col-lg-3">
            <div class="icon">
              <i class="fas fa-cash-register" style='font-size:48px;'></i>
            </div>
            <h3 class="heading mb-3 text-400">Sales</h3>
            <p class="text-center description">Automotive, service industry, construction, tech, B2C.</p>
          </div>

        </div>

<div class="gastroDev-row gastroDev-center gastroDev-dark-grey gastroDev-padding-16">
  <div class="gastroDev-quarter gastroDev-section">
    <span class="gastroDev-xlarge">14+</span><br>
    Partners
  </div>
  <div class="gastroDev-quarter gastroDev-section">
    <span class="gastroDev-xlarge">55+</span><br>
    Projects Done
  </div>
  <div class="gastroDev-quarter gastroDev-section">
    <span class="gastroDev-xlarge">89+</span><br>
    Happy Clients
  </div>
  <div class="gastroDev-quarter gastroDev-section">
    <span class="gastroDev-xlarge">150+</span><br>
    Meetings
  </div>
</div>


<!-- Second Parallax Image with Portfolio Text -->
<div class="bgimg-2 gastroDev-display-container gastroDev-opacity-min">
  <div class="gastroDev-display-middle">
    <span class="gastroDev-xxlarge gastroDev-text-white gastroDev-wide">PORTFOLIO</span>
  </div>
</div>

<!-- Container (Portfolio Section) -->
<div class="gastroDev-content gastroDev-container gastroDev-padding-64" id="portfolio">
  <h3 class="gastroDev-center">MY WORK</h3>
  <p class="gastroDev-center"><em>Here are some of my latest lorem work ipsum tipsum.<br> Click on the images to make them bigger</em></p><br>

  <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
  <div class="gastroDev-row-padding gastroDev-center">
    <div class="gastroDev-col m3">
      <img src="https://gastroben.s3.amazonaws.com/Self/ams.jpg" style="width:100%" onclick="onClick(this)" class="gastroDev-hover-opacity" alt="Freezing in the Europe on my anti-valentines day vacation.">
    </div>

    <div class="gastroDev-col m3">
      <img src="https://gastroben.s3.amazonaws.com/Self/tron.jpeg" style="width:100%" onclick="onClick(this)" class="gastroDev-hover-opacity" alt="Tron Master">
    </div>

    <div class="gastroDev-col m3">
      <img src="https://gastroben.s3.amazonaws.com/Self/ams.jpg" style="width:100%" onclick="onClick(this)" class="gastroDev-hover-opacity" alt="Bear closeup">
    </div>

    <div class="gastroDev-col m3">
      <img src="https://gastroben.s3.amazonaws.com/Self/ams.jpg" style="width:100%" onclick="onClick(this)" class="gastroDev-hover-opacity" alt="Quiet ocean">
    </div>
  </div>

  <div class="gastroDev-row-padding gastroDev-center gastroDev-section">
    <div class="gastroDev-col m3">
      <img src="https://gastroben.s3.amazonaws.com/Self/thaibar.jpg" style="width:100%" onclick="onClick(this)" class="gastroDev-hover-opacity" alt="A little bit of editing to my Thai beer garden photo">
    </div>

    <div class="gastroDev-col m3">
      <img src="https://gastroben.s3.amazonaws.com/Self/thaibar.jpg" style="width:100%" onclick="onClick(this)" class="gastroDev-hover-opacity" alt="My beloved typewriter">
    </div>

    <div class="gastroDev-col m3">
      <img src="https://gastroben.s3.amazonaws.com/Self/thaibar.jpg" style="width:100%" onclick="onClick(this)" class="gastroDev-hover-opacity" alt="Empty ghost train">
    </div>

    <div class="gastroDev-col m3">
      <img src="https://gastroben.s3.amazonaws.com/Self/thaibar.jpg" style="width:100%" onclick="onClick(this)" class="gastroDev-hover-opacity" alt="Sailing">
    </div>
  </div>
</div>

<!-- App (Portfolio Section) -->
<div class="container card-columns">
  <div class="card" style="width:300px">
    <img class="card-img-top" src="https://gastroben.s3.amazonaws.com/Self/geitnerrealtor.png" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Geitner Realtor </h4>
      <p class="card-text">Rails app with ActiveAdmin to create property listings from backend.</p>
      <a href="https://whispering-sea-49760.herokuapp.com/" class="btn btn-primary">See Profile</a>
    </div>
  </div>
  <div class="card" style="width:300px">
    <img class="card-img-top" src="https://gastroben.s3.amazonaws.com/Self/resttemp1.png" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Restaurant Template 1</h4>
      <p class="card-text">Rails app with custom back end to add menu items to front end with filter for display.  </p>
      <a href="https://resttemp.herokuapp.com/" class="btn btn-primary">See Profile</a>
    </div>
  </div>
  <div class="card" style="width:300px">
    <img class="card-img-top" src="https://gastroben.s3.amazonaws.com/Self/reactrec.png" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">React app</h4>
      <p class="card-text">Simple recipie app built with react</p>
      <a href="https://reactbloggastro.herokuapp.com/" class="btn btn-primary">See Profile</a>
    </div>
  </div>
  <div class="card" style="width:300px">
    <img class="card-img-top" src="https://gastroben.s3.amazonaws.com/Self/basic .png" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">CRUD template</h4>
      <p class="card-text">Plain rails app with ActiveAdmin CRUD backend</p>
      <a href="https://mysterious-castle-65360.herokuapp.com/" class="btn btn-primary">See Profile</a>
    </div>
  </div>
  <div class="card" style="width:300px">
    <img class="card-img-top" src="https://gastroben.s3.amazonaws.com/Self/resttemp2.jpeg" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Restaurant Template 2</h4>
      <p class="card-text">Restaurant template 2 with JS menu display</p>
      <a href="https://lit-tor-84285.herokuapp.com/" class="btn btn-primary">See Profile</a>
    </div>
  </div>
  <div class="card" style="width:300px">
    <img class="card-img-top" src="https://gastroben.s3.amazonaws.com/Self/dashbrd.jpeg" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Blog Template</h4>
      <p class="card-text">Rails app with users, blog and public messages displayed in custom backend dashboard</p>
      <a href="https://gastronomicdev.herokuapp.com/" class="btn btn-primary">See Profile</a>
    </div>
  </div>
</div>


<!-- Modal for full size images on click-->
<div id="modal01" class="gastroDev-modal gastroDev-black" onclick="this.style.display='none'">
  <span class="gastroDev-button gastroDev-large gastroDev-black gastroDev-display-topright" title="Close Modal Image"><i class="fa fa-remove"></i></span>
  <div class="gastroDev-modal-content gastroDev-animate-zoom gastroDev-center gastroDev-transparent gastroDev-padding-64">
    <img id="img01" class="gastroDev-image">
    <p id="caption" class="gastroDev-opacity gastroDev-large"></p>
  </div>
</div>

<!-- Third Parallax Image with Portfolio Text -->
<div class="bgimg-3 gastroDev-display-container gastroDev-opacity-min">
  <div class="gastroDev-display-middle">
     <span class="gastroDev-xxlarge gastroDev-text-white gastroDev-wide">CONTACT</span>
  </div>
</div>

<!-- Container (Contact Section) -->
<div class="gastroDev-content gastroDev-container gastroDev-padding-64" id="contact">
  <h3 class="gastroDev-center">WHERE I WORK</h3>
  <p class="gastroDev-center"><em>I'd love your feedback!</em></p>

  <div class="gastroDev-row gastroDev-padding-32 gastroDev-section">
    <div class="gastroDev-col m4 gastroDev-container">
      <img src="https://gastroben.s3.amazonaws.com/Self/jupiterbeach.jpg" class="gastroDev-image gastroDev-round" style="width:100%">
    </div>
    <div class="gastroDev-col m8 gastroDev-panel">
      <div class="gastroDev-large gastroDev-margin-bottom">
        <i class="fa fa-map-marker fa-fw gastroDev-hover-text-black gastroDev-xlarge gastroDev-margin-right"></i> Florida, US<br>
        <i class="fa fa-phone fa-fw gastroDev-hover-text-black gastroDev-xlarge gastroDev-margin-right"></i> Phone: 786-860-2661<br>
        <i class="fa fa-envelope fa-fw gastroDev-hover-text-black gastroDev-xlarge gastroDev-margin-right"></i> Email: nextbendev@gmail.com<br>
      </div>
      <p>Swing by for a cup of <i class="fa fa-coffee"></i>, or leave me a note:</p>
      <form action="/action_page.php" target="_blank">
        <div class="gastroDev-row-padding" style="margin:0 -16px 8px -16px">
          <div class="gastroDev-half">
            <input class="gastroDev-input gastroDev-border" type="text" placeholder="Name" required name="Name">
          </div>
          <div class="gastroDev-half">
            <input class="gastroDev-input gastroDev-border" type="text" placeholder="Email" required name="Email">
          </div>
        </div>
        <input class="gastroDev-input gastroDev-border" type="text" placeholder="Message" required name="Message">
        <button class="gastroDev-button gastroDev-black gastroDev-right gastroDev-section" type="submit">
          <i class="fa fa-paper-plane"></i> SEND MESSAGE
        </button>
      </form>
    </div>
  </div>
</div>



<%= render 'blox/footer' %>
<%= render 'blox/parallax' %>
