// Place all the styles related to the templates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url(https://gastroben.s3.amazonaws.com/bendev/codelounge.jpg);
  min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url(https://gastroben.s3.amazonaws.com/Self/barberlake.jpg);
  min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url(https://gastroben.s3.amazonaws.com/Self/abacoafilter.jpg);
  min-height: 400px;
}

.gastroDev-wide {letter-spacing: 10px;}
.gastroDev-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}
