<!-- Footer -->
<footer class="gastroDev-center gastroDev-black gastroDev-padding-64 gastroDev-opacity gastroDev-hover-opacity-off">
  <a href="#home" class="gastroDev-button gastroDev-light-grey"><i class="fa fa-arrow-up gastroDev-margin-right"></i>To the top</a>
  <div class="gastroDev-xlarge gastroDev-section">
    <i class="fa fa-facebook-official gastroDev-hover-opacity"></i>
    <i class="fa fa-instagram gastroDev-hover-opacity"></i>
    <i class="fa fa-snapchat gastroDev-hover-opacity"></i>
    <i class="fa fa-pinterest-p gastroDev-hover-opacity"></i>
    <i class="fa fa-twitter gastroDev-hover-opacity"></i>
    <i class="fa fa-linkedin gastroDev-hover-opacity"></i>
  </div>
  <p>Powered by <a href="#" title="gastroDev.CSS" target="_blank" class="gastroDev-hover-text-green">gastroDev.css</a></p>
</footer>
